<% if @current_user%>
    Logged in as <%= @current_user.email %>

    <%= button_to "Logout", sign_out_path, class:"button", method: :delete %>
<% end %>

<div class="container mx-auto px-4 py-8 animate-fade-in">
  <h1 class="text-4xl font-bold text-center mb-4">Welcome to VirusScanner</h1>
  <p class="text-center text-gray-600 mb-8">VirusScanner is a free service that analyzes suspicious files and URLs and facilitates the quick detection of viruses, worms, trojans, and all kinds of malware.</p>

  <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4">
    <div class="w-full md:w-1/2 bg-white rounded-lg shadow-md p-6 transition duration-300 ease-in-out transform hover:scale-105 animate-slide-in pb-20" id="box1">
      <h2 class="text-2xl font-bold mb-4">Scan File</h2>
      <p class="mb-4">Upload your file to analyze it</p>
      <%= form_tag(virus_total_scan_path, multipart: true, class: "w-full") do %>
        <div class="border-dashed border-2 border-gray-300 rounded-md p-4 mb-4 transition duration-300 ease-in-out hover:border-blue-500" id="dropzone">
           <%= file_field_tag :file, class: "hidden", id: "dropzone-file" %>
          <label for="dropzone-file" class="cursor-pointer">
            <div class="text-center" id="d-area">
              <p class="text-gray-500">Drag and drop your file here or click to browse</p>
            </div>
          </label>
        </div>
        <%= submit_tag "Scansiona", class: "btn btn-primary mt-4 button" %>
        <div id="file-info" class="hidden text-center mb-4">
          <p class="text-gray-800">File: <span id="file-name"></span></p>
          <%= link_to "Remove", root_path, class: "text-red-500 hover:text-red-600" %>
        </div>
      </form>
      <% end %>
    </div>
    <div class="w-full md:w-1/2 bg-white rounded-lg shadow-md p-6 transition duration-300 ease-in-out transform hover:scale-105 animate-slide-in" id="box2">
    <h2 class="text-2xl font-bold mb-4">Scan URL</h2>
    <p class="mb-4">Enter a URL to analyze it for potential threats</p>
    <%= form_tag(virus_total_scan_path, multipart: true, class: "w-full") do %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <label class="cursor-pointer py-4 w-full">
    <%= text_field_tag :url, nil, placeholder: "Enter URL here", class:"w-full border rounded border-gray-300 focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500 mb-4 p-2" %>
    </label>
    <%= submit_tag "Scansiona", class: "btn btn-primary mt-4 button" %>
    <% end %>
    </div>
</div>





<script>
document.addEventListener('turbolinks:load', function() {
  const dropzone = document.getElementById('dropzone');
  const fileInput = document.getElementById('dropzone-file');
  const fileInfo = document.getElementById('file-info');
  const fileName = document.getElementById('file-name');
  const dArea = document.getElementById('d-area');

  dropzone.addEventListener('dragover', (e) => {
    e.preventDefault();
    dropzone.classList.add('border-blue-500');
  });

  dropzone.addEventListener('dragleave', () => {
    dropzone.classList.remove('border-blue-500');
  });

  dropzone.addEventListener('drop', (e) => {
    e.preventDefault();
    dropzone.classList.remove('border-blue-500');
    if (e.dataTransfer.files.length) {
      fileInput.files = e.dataTransfer.files;
      updateFileInfo();
    }
  });

  fileInput.addEventListener('change', updateFileInfo);

  function updateFileInfo() {
    if (fileInput.files.length > 0) {
      const file = fileInput.files[0];
      fileName.textContent = file.name.split('.').slice(0, -1).join('.');
      fileInfo.classList.remove('hidden');
      dArea.classList.add('hidden');
    }
  }

  const mobileMenuButton = document.getElementById('mobile-menu-button');
  const menu = document.getElementById('menu');

  mobileMenuButton.addEventListener('click', () => {
    menu.classList.toggle('hidden');
  });
});
</script>