<h1>Nuovo Commento</h1>

<%= form_with(model: @comment, local: true) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "errore") %> impediscono il salvataggio:</h2>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content, "Testo del commento" %>
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit "Crea commento" %>
  </div>
<% end %>

<%= link_to 'Indietro', :back %>