

  <%= button_to 'Login', '/auth/auth0', method: :post, data: { turbo: false } , class: "button"%>
<div class="containersignup container" id="container">
  <%= form_with model: @user, url: sign_up_path, html: { class: "form-container sign-up-container" } do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <h1 class="text-4xl">Create Account</h1>
    <div class="social-container">
      <%# <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
      <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a> %>
    </div>
    <span>or use your email for registration</span>
    <%= form.email_field :email, placeholder: "Email", class: "border-solid border-gray-300 rounded form-control" %>
    <%= form.password_field :password, placeholder: "Password", class: "border-solid border-gray-300 rounded form-control" %>
    <%= form.password_field :password_confirmation, placeholder: "Confirm Password", class: "border-solid border-gray-300 rounded form-control" %>
    <%= form.submit "Sign Up", class: "button" %>
  <% end %>

  <div class="form-container sign-in-container">
    <form action="#">
      <h1 class="text-4xl">Sign in</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>or use your account</span>
      <input class="border-solid border-gray-300 rounded form-control" type="email" placeholder="Email" />
      <input class="border-solid border-gray-300 rounded form-control" type="password" placeholder="Password" />
      <a href="#">Forgot your password?</a>
      <button>Sign In</button>
    </form>
  </div>
  
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1 class="text-4xl">You Already Have an Account?</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button class="ghost" id="signIn">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1 class="text-4xl">Create your Account</h1>
        <p>Enter your personal details and start journey with us</p>
        <button class="ghost" id="signUp">Sign Up</button>
      </div>
    </div>
  </div>
</div>


<script>
document.addEventListener('turbolinks:load', function() {

console.log("Hello World from Webpacker")
const signUpButton = document.getElementById('signUp');
  const signInButton = document.getElementById('signIn');
  const container = document.getElementById('container');
  
  signUpButton.addEventListener('click', () => {
      container.classList.add("right-panel-active");
  });
  
  signInButton.addEventListener('click', () => {
      container.classList.remove("right-panel-active");
  });

});

</script>