

  <style>
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  @keyframes slideIn {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }
  .animate-fade-in { animation: fadeIn 0.5s ease-out; }
  .animate-slide-in { animation: slideIn 0.5s ease-out; }
</style>

<nav class="bg-white shadow-md">
  <div class="container mx-auto px-4 py-3 flex justify-between items-center">
    <%= link_to root_path, class: "flex items-center" do %>
      <%= image_tag("logo_vs.png", class: "w-16 h-auto") %>
    <% end %>

    <button class="lg:hidden" id="mobile-menu-button">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path></svg>
    </button>

    <div class="hidden lg:flex items-center space-x-4" id="menu">
      <%= link_to "Home", root_path, class: "text-gray-700 hover:text-gray-900" %>
      <%= link_to "About", about_path, class: "text-gray-700 hover:text-gray-900" %>
      
      <% if Current.user %>
        <span class="text-gray-700">Logged in as <%= Current.user.email %></span>
        <%= button_to "Logout", sign_out_path, method: :delete, class: "bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded transition duration-300 button" %>
      <% else %>
        <%= link_to "LOG IN / SIGN UP", sign_up_path, class: "bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-300 button" %>
      <% end %>
    </div>
  </div>
</nav>
