<nav class="bg-white dark:bg-gray-900 shadow-md dark:shadow-gray-800">
  <div class="container mx-auto px-4 py-3">
    <div class="flex justify-between items-center">
      <%= link_to root_path, class: "flex items-center" do %>
        <%= image_tag("logo_vs.png", class: "w-16 h-auto dark:invert") %>
      <% end %>

      <div class="lg:flex items-center space-x-6">
        <div class="flex items-center">
          <%= render 'shared/dark_mode_switch' %>
        </div>
        <%= link_to "Home", root_path, class: "text-gray-700 dark:text-gray-200 hover:text-gray-900 dark:hover:text-white transition-colors duration-200" %>
        <%= link_to "About", about_path, class: "text-gray-700 dark:text-gray-200 hover:text-gray-900 dark:hover:text-white transition-colors duration-200" %>
        
        <div class="lg:flex items-center space-x-4 login-buttons">
          <% if user_signed_in? %>
            <div class="relative">
              <button id="user-menu-button" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 dark:text-gray-200 transition-colors duration-200">
                Menu
              </button>
              
              <div id="user-dropdown"
                  class="hidden absolute top-full right-0 z-10 py-2 mt-2 bg-white rounded-md shadow-xl w-64">
                <div class="flex items-center px-4 py-3 border-b border-gray-100">
                  <div class="p-2.5 rounded-full bg-blue-50">
                    <i class="fas fa-user text-blue-600 text-xl"></i>
                  </div>
                  <div class="ml-4">
                    <h1 class="text-sm font-semibold text-gray-800 mb-0.5"><%= current_user.username %></h1>
                    <p class="text-xs text-gray-500"><%= current_user.email %></p>
                  </div>
                </div>

                <%= link_to "Scans History", scans_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
                <%= link_to "Comments History", comments_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
                <%= link_to "Preferences", edit_preferences_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>

                <hr class="border-gray-200">
                
                <%= button_to "Log out", session_path, 
                    method: :delete, 
                    class: "btn button-red bg-red-600 hover:bg-red-700 text-white w-full text-left px-4 py-2 text-sm"
                %>
              </div>
            </div>
          <% else %>
            <button id="open-registration-modal" class="nav-button bg-blue-500 dark:bg-blue-600 text-white hover:bg-blue-600 dark:hover:bg-blue-700 transition-colors duration-200">Sign up</button>
            <button id="open-session-modal" class="nav-button bg-blue-500 dark:bg-blue-600 text-white hover:bg-blue-600 dark:hover:bg-blue-700 transition-colors duration-200">Log in</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>

<div id="registration-modal" class="modal-container hidden">
  <div class="modal-backdrop dark:bg-gray-900 dark:bg-opacity-75">
    <div class="modal-content dark:bg-gray-800">
      <button id="close-registration-modal" class="close-button dark:text-white">&times;</button>
      <%= render "registrations/form", user: User.new %>
    </div>
  </div>
</div>

<div id="session-modal" class="modal-container hidden">
  <div class="modal-backdrop dark:bg-gray-900 dark:bg-opacity-75">
    <div class="modal-content dark:bg-gray-800">
      <button id="close-session-modal" class="close-button dark:text-white">&times;</button>
      <%= render "sessions/form", user: @user %>
    </div>
  </div>
</div>