<nav class="bg-white shadow-md">
 <div class="container mx-auto px-4 py-3">
   <div class="flex justify-between items-center">
     <%= link_to root_path, class: "flex items-center" do %>
       <%= image_tag("logo_vs.png", class: "w-16 h-auto") %>
     <% end %>

     <button class="lg:hidden" id="mobile-menu-button">
       <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
         <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
       </svg>
     </button>

     <div class=" lg:flex items-center space-x-4">
       <%= link_to "Home", root_path, class: "text-gray-700 hover:text-gray-900" %>
       <%= link_to "About", about_path, class: "text-gray-700 hover:text-gray-900" %>
       
       <div class=" lg:flex items-center space-x-4 login-buttons">
        <% if user_signed_in? %>

          <div class="relative">
            <button id="user-menu-button" class="inline-flex items-center px-4 py-2 text-sm font-medium text-white hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Menu
            </button>
            
            <div id="user-dropdown"
                x-transition:enter="transition ease-out duration-100"
                x-transition:enter-start="opacity-0 scale-90"
                x-transition:enter-end="opacity-100 scale-100"
                x-transition:leave="transition ease-in duration-100"
                x-transition:leave-start="opacity-100 scale-100"
                x-transition:leave-end="opacity-0 scale-90"
                class="hidden absolute right-0 z-10 w-56 py-2 mt-2 origin-top-right bg-white rounded-md shadow-xl dark:bg-gray-800"
            >
              <a href="#" class="flex items-center p-3 -mt-2 text-sm text-gray-600 transition-colors duration-300 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                  <img class="flex-shrink-0 object-cover mx-1 rounded-full w-4 h-4" src="https://images.unsplash.com/photo-1523779917675-b6ed3a42a561?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8d29tYW4lMjBibHVlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=face&w=500&q=200">
                  <div class="mx-1">
                      <h1 class="text-sm font-semibold text-gray-700 dark:text-gray-200">Jane Doe</h1>
                      <p class="text-sm text-gray-500 dark:text-gray-400">janedoe@exampl.com</p>
                  </div>
              </a>

              <hr class="border-gray-200 dark:border-gray-700 ">

              <%= link_to "Scans History", scans_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
              <%= link_to "Comments History", comments_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
              <%= link_to "Preferences", edit_preferences_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
              
              <hr class="border-gray-200 dark:border-gray-700 ">
              
              <%= button_to "Log out", session_path, 
                  method: :delete, 
                  class: "button-red block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
              %>
            </div>
          </div>

        <% else %>
          <button id="open-registration-modal" class="nav-button">Sign up</button>
          <button id="open-session-modal" class="nav-button">Log in</button>
        <% end %>
       </div>
     </div>
   </div>

   <div class="lg:hidden">
     <div class="hidden pt-2 pb-3 space-y-1" id="mobile-menu">
       <%= link_to "Home", root_path, class: "block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50" %>
       <%= link_to "About", about_path, class: "block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50" %>
       
       <% if current_user.present? %>
         <div class="px-3 py-2">
           <div id="mobile-user-button" data-clerk-component="userButton"></div>
         </div>
       <% else %>
         
       <% end %>
     </div>    
   </div>
 </div>
</nav>

<div id="registration-modal" class="modal-container hidden">
 <div class="modal-backdrop"></div>
 <div class="modal-content">
   <button id="close-registration-modal" class="close-button">&times;</button>
   <%= render "registrations/form", user: User.new %>
 </div>
</div>

<div id="session-modal" class="modal-container hidden">
 <div class="modal-backdrop"></div>
 <div class="modal-content">
   <button id="close-session-modal" class="close-button">&times;</button>
   <%= render "sessions/form", user: @user %>
 </div>
</div>