<nav class="bg-white dark:bg-gray-900 shadow-md dark:shadow-gray-800">
  <div class="container mx-auto px-4 py-3">
  <div class="flex justify-between items-center ml-10">
    <%= link_to root_path, class: "flex items-center transition-transform duration-300 hover:scale-110" do %>
      <%= image_tag("logo_vs.png", class: "w-16 h-auto transition-transform duration-300 ") %>
      <% end %>

      <div class="lg:flex items-center space-x-6">
        <div class="flex items-center">
          <%= render 'shared/dark_mode_switch' %>
        </div>
        <%= link_to "Home", root_path, class: "text-gray-700 hover:text-gray-900 hover:bg-gray-200 p-4  rounded-full " %>
       <%= link_to "About", about_path, class: "text-gray-700 hover:text-gray-900 hover:bg-gray-200 p-4  rounded-full " %>
        
        <div class="lg:flex items-center space-x-4 login-buttons">
          <% if user_signed_in? %>
            
          <div class="relative">
              <button id="user-menu-button" class="inline-flex items-center p-4 rounded-full text-sm font-medium text-white">
                <i class="fas fa-user mr-2"></i>
                <%= current_user.username %>
                <i class="fas fa-chevron-down ml-2"></i>
              </button>
              
              <div id="user-dropdown"
                x-transition:enter="transition ease-out duration-100"
                x-transition:enter-start="opacity-0 scale-90"
                x-transition:enter-end="opacity-100 scale-100"
                x-transition:leave="transition ease-in duration-100"
                x-transition:leave-start="opacity-100 scale-100"
                x-transition:leave-end="opacity-0 scale-90"
                class="hidden absolute top-full right-0 z-10 py-2 mt-2 bg-white rounded-md shadow-xl w-64"
              >

                <%= link_to scans_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-200" do %>
                  <i class="fas fa-history mr-2"></i>
                  Scans History
                <% end %>
                <%= link_to comments_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-200" do %>
                  <i class="fas fa-comments mr-2"></i>
                  Comments History
                <% end %>
                <%= link_to edit_preferences_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-200" do %>
                  <i class="fas fa-cog mr-2"></i>
                  Preferences
                <% end %>

                <hr class="border-gray-20 dark:border-gray-700 ">
                
                <%= button_to session_path, 
                    method: :delete,
                    class: " button-red flex items-center justify-center w-full" do %>
                    <i class="fas fa-sign-out-alt mr-2"></i>
                    Log out
                <% end %>
              </div>
            </div>
          <% else %>
            <button id="open-registration-modal" class="nav-button bg-blue-500 dark:bg-blue-600 text-white hover:bg-blue-600 dark:hover:bg-blue-700 transition-colors duration-200">Sign up</button>
            <button id="open-session-modal" class="nav-button bg-blue-500 dark:bg-blue-600 text-white hover:bg-blue-600 dark:hover:bg-blue-700 transition-colors duration-200">Log in</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>

<div id="registration-modal" class="modal-container hidden">
  <div class="modal-backdrop dark:bg-gray-900 dark:bg-opacity-75">
    <div class="modal-content dark:bg-gray-800">
      <button id="close-registration-modal" class="close-button dark:text-white">&times;</button>
      <%= render "registrations/form", user: User.new %>
    </div>
  </div>
</div>

<div id="session-modal" class="modal-container hidden">
  <div class="modal-backdrop dark:bg-gray-900 dark:bg-opacity-75">
    <div class="modal-content dark:bg-gray-800">
      <button id="close-session-modal" class="close-button dark:text-white">&times;</button>
      <%= render "sessions/form", user: @user %>
    </div>
  </div>
</div>