<div id="<%= dom_id scan %>">
  <p>
    <strong>File name:</strong>
    <%= scan.file_name %>
  </p>

  <p>
    <strong>File type:</strong>
    <%= scan.file_type %>
  </p>

  <p>
    <strong>Hashcode:</strong>
    <%= scan.hashcode %>
  </p>

  <p>
    <strong>File size:</strong>
    <%= scan.file_size %>
  </p>

  <p>
    <strong>Upload date:</strong>
    <%= scan.upload_date %>
  </p>

  <p>
    <strong>Vote up:</strong>
    <%= scan.vote_up %>
  </p>

  <p>
    <strong>Vote down:</strong>
    <%= scan.vote_down %>
  </p>

</div>
