<!DOCTYPE html>
<html>
  <head>
    <title>Virusscanner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    
    <%= clerk_script_tag %>
    <%# <%= javascript_importmap_tags %>

    <%# <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
      if (window.Clerk) {
        window.Clerk.load()
          .then(() => {
            // User button per desktop
            const desktopUserButtonEl = document.getElementById('user-button');
            if (desktopUserButtonEl) {
              window.Clerk.mountUserButton(desktopUserButtonEl, {
                afterSignOutUrl: '/',
                userProfileUrl: '/profile'
              });
            }

            // User button per mobile
            const mobileUserButtonEl = document.getElementById('mobile-user-button');
            if (mobileUserButtonEl) {
              window.Clerk.mountUserButton(mobileUserButtonEl, {
                afterSignOutUrl: '/',
                userProfileUrl: '/profile'
              });
            }
          })
          .catch(error => {
            console.error('Error loading Clerk:', error);
          });
        }
      });
    </script> %>
  
  </head>
  
  <body>

    <%= render partial: "shared/navbar"%>
    <%= notice %>
    <%= flash[:alert] %>
    <%= yield %>
    <%# <%= turbo_frame_tag "modal" %>
    <%= render partial: "shared/footer"%>

  </body>

</html>