<!DOCTYPE html>
<html>
  <head>
    <title>Virusscanner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    
    <%= javascript_include_tag 'scripts', 'data-turbo-track': 'reload' %>

  </head>
  
  <body>

    <%= render partial: "shared/navbar"%>
    <%= notice %>
    <%= flash[:alert] %>
    <%= yield %>
    <%= render partial: "shared/footer"%>

  </body>

</html>